body{
    font-family: 'Mukta', sans-serif;
}

#title{
    font-size: 60px;
    padding: 100px;
    text-align: center;
}

#container{
    border: 1px dotted black;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
